.cuentas {
    display: grid;
    grid-template-columns:1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm;
    grid-template-rows:1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm 1cm;
}
.cuentas div{
    display:flex;
    align-items: center;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 80%;/*
    border: 0.0001cm solid black;*/
}
.centrar{
    justify-content: center;
}
.button{
    display:flex;
    align-items: center;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 80%;
}
/* Cuenta de Ahorros*/
.box1{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 16; 
    grid-row-start: 3; 
    grid-row-end: 4;   
}
.box2{
    background-color:#BEE4A3;
    grid-column-start: 16; 
    grid-column-end: 22; 
    grid-row-start: 3; 
    grid-row-end: 4;

}
.box3{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 14; 
    grid-row-start: 4; 
    grid-row-end: 5; 
}
.box4{
    background-color:#BEE4A3;
    grid-column-start: 14; 
    grid-column-end: 22; 
    grid-row-start: 4; 
    grid-row-end: 5;
}
/* Cuenta en dolares   */
.box5{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 16; 
    grid-row-start: 6; 
    grid-row-end: 7;   
}
.box6{
    background-color:#BEE4A3;
    grid-column-start: 16; 
    grid-column-end: 22; 
    grid-row-start: 6; 
    grid-row-end: 7;
}
.box7{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 14; 
    grid-row-start: 7; 
    grid-row-end: 8; 
}
.box8{
    background-color:#BEE4A3;
    grid-column-start: 14; 
    grid-column-end: 22; 
    grid-row-start: 7; 
    grid-row-end: 8;
}
/* Tarjeta de credito */
.box9{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 14; 
    grid-row-start: 9; 
    grid-row-end: 10;   
}
.box10{
    background-color:#BEE4A3;
    grid-column-start: 14; 
    grid-column-end: 22; 
    grid-row-start: 9; 
    grid-row-end: 10;
}
.box11{
    background-color:#BEE4A3;
    grid-column-start: 6; 
    grid-column-end: 14; 
    grid-row-start: 10; 
    grid-row-end: 11; 
}
.box12{
    background-color:#BEE4A3;
    grid-column-start: 14; 
    grid-column-end: 22; 
    grid-row-start: 10; 
    grid-row-end: 11;
}
